<h1>Employee Component</h1>
{{divVisible}} Name: {{name}}

<input type="text" [value]="name" name="empname">
<!-- <div [hidden]="divVisible" [innerText]="name">

</div> -->

<div *ngIf="divVisible" [ngClass]="{'alert alert-success' :divVisible }" [innerText]="name">

</div>


<button type="button" (click)="toggle()">Toggle</button>

<h1>
    Employee Form
</h1>

{{employee | json}}
{{empForm.valid | json}}
{{empForm.invalid | json}}
{{empForm.pristine | json}}
{{empForm.dirty | json}}
{{empForm.value | json}}
<form #empForm="ngForm" (submit)="save(empForm)" novalidate>
    <div class="form-group">
        <input #empid="ngModel" required class="form-control" [(ngModel)]="employee.id" type="number" name="id" placeholder="Employee ID">
        <div class="alert alert-danger" [hidden]="empid.valid || empid.pristine">
                Please provide the employee id.
        </div>
    </div>
    <div class="form-group">
        <input required minlength="3" maxlength="8" class="form-control" type="text" name="name" [(ngModel)]="employee.name" placeholder="Employee Name">
    </div>
    <div class="form-group">
        <input class="form-control" required min="4" max="45" [(ngModel)]="employee.age" type="number" name="age" placeholder="Employee Age">
    </div>
    <div class="form-group">
        <input type="date" required class="form-control" name="dob" [(ngModel)]="employee.dob" placeholder="Employee DOB">
    </div>
    <div class="form-group">
        <input type="number" required [(ngModel)]="employee.salary" class="form-control" name="salary" placeholder="Employee Salary">
    </div>
    <div>
        <button [disabled]="empForm.invalid" type="submit" class="btn btn-primary">Save</button>    
    </div>
    
</form>


<!-- {{employeeList | json }} -->
<app-employee-list [empList]="employeeList" (message)="receiveFromChild($event)"></app-employee-list>

{{message}}