<!--The whole content below can be removed with the new code.-->
<div class="container">
  <!-- <h1>
    Welcome to {{title}}!!
  </h1> -->

  <!-- <div [ngSwitch]="userRole">
    <div *ngSwitchCase="'Admin'">
      This is Admin View
    </div>
    <div *ngSwitchCase="'Super Admin'">
      This is Super Admin View
    </div>
    <div *ngSwitchCase="'User'">
      This is User View.
    </div>
    <div *ngSwitchDefault>
      This is default view.
    </div>
  </div>
</div> -->

<!-- <hr> -->

<!-- <div *ngIf="isVisible">
  <app-department></app-department>  
</div>
<app-employee></app-employee> -->

<!-- <button class="btn btn-primary" (click)="toggle()">Toggle</button> -->
<!-- 
{{empList | json}}

<button type="button" class="btn btn-primary" (click)="addEmp()">Add Employee</button> -->

<!-- <hr>

<app-customer></app-customer>

<hr>
<app-comments></app-comments> -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="comments">Comments</a></li>
      <li><a routerLink="employee">Employee</a></li>
      <li><a routerLink="department">Department</a></li>
      <li><a routerLink="customer">Customer</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
</div>