<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <app-employee></app-employee>

  <div [ngSwitch]="userRole">
    <div *ngSwitchCase="'Admin'">
      This is Admin View
    </div>
    <div *ngSwitchCase="'Super Admin'">
      This is Super Admin View
    </div>
    <div *ngSwitchCase="'User'">
      This is User View.
    </div>
    <div *ngSwitchDefault>
      This is default view.
    </div>
  </div>
</div>

<hr>

<app-department></app-department>