<table class="table">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        NAME
      </th>
      <th>
        AGE
      </th>
      <th>DOB</th>
      <th>SALARY</th>
      <!-- <th>
        Index
      </th>
      <th>
        Even
      </th>
      <th>
        odd
      </th>
      <th>
        first
      </th>
      <th>
        last
      </th> -->
      <th>
        Edit
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList;let i=index ; let isEven=even ; let isOdd=odd ;
    let isFirst=first ;let isLast=last;trackBy : identify ">
      <td>{{emp.id}}</td>
      <td>{{emp.name | lowercase }}</td>
      <td>{{emp.age | percent}}</td>
      <td>{{emp.dob | date : 'dd-MMM-yyyy'}}</td>
      <td>{{emp.salary | customcurrency : '$'}}</td>
      <td>
        <button type="button" class="btn btn-primary" [routerLink]="[emp.id,'edit']">Edit</button>
      </td>
      <!-- <td>{{index}}</td>
      <td>{{isEven}}</td>
      <td>{{isOdd}}</td>
      <td>{{isFirst}}</td>
      <td>{{isLast}}</td> -->

    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="sendToParent()">Send To Parent</button>